<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<<<<<<< HEAD
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="w-100">
        <div class="container m-auto">
            <div class="row">
                <div class="col-6">
                    <h3>Carga de productos</h3>
                    <form id="form" class="m-3" style="width: 100%;">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Precio</label>
                            <input type="text" class="form-control" id="precio" name="precio" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">URL Imagen</label>
                            <input type="text" class="form-control" id="url" name="url" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </form>
                    <hr>
                    <h3>Chats de Usuarios</h3>
                    <form id="formChats" class="m-3" style="width: 100%;">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mensaje</label>
                            <input type="text" class="form-control" id="mensaje" name="mensaje" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                    <br>
                    <h3>Mensajes</h3>
                    <div id="messages"></div>
                </div>
                <div class="col-6">
                    <h3>Listado de productos</h3>
                    <br>
                    <div id="lista-productos">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
=======
    <div class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main class="text-center">
            <h2 class="h2 mt-5">Bienvenido a DO SAN</h2>
            <h3 class="h3">Expertos en Tecnología</h3>
            <img id="logo" class="m-0 p-0" src="https://cdn-icons-png.flaticon.com/512/3861/3861872.png" alt="teclado logo">
            <br>
            <a class="btn btn-primary m-3" href="http://localhost:8080/carga">Ir a cargar productos</a>
            <a class="btn btn-primary m-3" href="http://localhost:8080/productos">Ver todos los productos</a>
        </main>
        <footer class="mt-2">
            <%- include('../partials/footer'); %>
        </footer>
    </div>
>>>>>>> b3c6d53 (primera entrega proyecto final)
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>