<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="w-100">
        <h1>Carga de productos</h1>
        <form method="POST" action="/list-productos"  class="m-3" style="width: 40%;">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">URL Imagen</label>
                <input type="text" class="form-control" id="url" name="url" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Cargar</button>
        </form>
        <hr>
        <h1>Listado de productos</h1>
        <% if(typeof lista != 'undefined'){ %>
            <h1>Listado de productos</h1>
            <div class="d-flex flex-wrap">
                <% lista.forEach((producto) => { %>
                    <div class="card align-items-center flex-row" style="width: 30%;">
                        <img class="card-img-top w-25" src=<%=producto.url%> alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Nombre: <%= producto.nombre %></h3>
                            <h5 class="card-title">Precio: <%= producto.precio %></h5>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else{ %>  
            <h3>No hay productos cargados</h3>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>